<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Greeting</title>
</head>
<body>
Hello {{person.first_name}} {{person.last_name}}!
You've been added to {{self.owner_name}} contacts.
</body>
</html>